{{#if error}}
    <div id='notifications'>
        <p id='notification-message'>{{error}}</p>
    </div>
{{/if}}
{{#with cube}}
    <h1>{{name}}</h1>
    <img class='cube' src={{imageUrl}} />
    <div class='details'>
        <p><span>Description:</span>
            {{description}}</p>
        <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
        {{#if isOwner}}
            <a class='btn' href='/edit/{{id}}'>Edit</a>
            <a class='btn' href='/delete/{{id}}'>Delete</a>
            <a class='btn' href='/attach-accessory/{{id}}'>Attach accessory</a>
        {{/if}}
        <a class='btn' href='/'>Back</a>
    </div>
{{/with}}

<h2>Accessories</h2>
<div class='accessories'>
    {{#if attachedAccessories}}

        {{#each attachedAccessories}}
            <div class='accessory'>
                <img src='{{imageUrl}}' alt='stickerName' />
                <h3>{{name}}</h3>
                <p>{{description}}</p>
            </div>
        {{/each}}

    {{else}}
        <h3 class='italic'>This cube has no accessories yet...</h3>
    {{/if}}
</div>