<h1>Browser</h1>
<form method='get'>
    <input type='text' class='search' name='search' placeholder='Search...' />
    <input type='number' name='from' class='difficulty' placeholder='Difficulty from...' />
    <span>-</span>
    <input type='number' name='to' class='difficulty' placeholder='Difficulty to...' />
    <input type='submit' value='search' />
</form>

{{#if cubes}}

    {{#each cubes}}
        <div class='cube'>
            <img class='cube' src={{imageUrl}} />
            <p class='name'>{{name}}</p>
            <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
            <a class='btn' href='/details/{{id}}'>Details</a>
        </div>
    {{/each}}

{{else}}
    <h1>NO CUBES WERE FOUND</h1>
{{/if}}