<h1>Cat Shelter</h1>
<form action='/cats/edit/{{cat._id}}' method='post' class='cat-form'>
    <h2>Edit Cat</h2>
    <label for='name'>Name</label>
    <input type='text' id='name' name='name' value={{cat.name}} />
    <label for='description'>Description</label>
    <textarea id='description' name='description'>{{cat.description}}</textarea>
    <label for='image'>Image</label>
    <input type='text' id='image' name='image' value={{cat.image}} />
    <label for='group'>Breed</label>
    <select id='group' name='breed'>
        <option>{{cat.breed}}</option>
        {{#each breeds}}
            <option>{{breed}}</option>
        {{/each}}
    </select>
    <button>Edit Cat</button>
</form>