<section id='editPage'>
    <form id='editForm' action='/electronics/{{product._id}}/edit' method='POST'>
        <label for='name'>Name:</label>
        <input type='text' id='name' name='name' value='{{product.name}}' />

        <label for='type'>Type:</label>
        <input type='text' id='type' name='type' value='{{product.type}}' />

        <label for='production'>Year of Production:</label>
        <input type='number' id='production' name='production' value='{{product.production}}' />

        <label for='exploitation'>Years of Exploitation:</label>
        <input type='number' id='exploitation' name='exploitation' value='{{product.exploitation}}' />

        <label for='damages'>Damages:</label>
        <input type='text' id='damages' name='damage' value='{{product.damage}}' />

        <label for='image'>Image:</label>
        <input type='text' id='image' name='image' value='{{product.image}}' />

        <label for='price'>Price:</label>
        <input type='number' id='price' name='price' value='{{product.price}}' />

        <label for='description'>Description:</label>
        <input type='text' id='description' name='description' value='{{product.description}}' />

        <input type='submit' class='edit' value='Edit Offer' />
    </form>
</section>